{% extends "base.html" %}
{% block title %}Homepage{% endblock title %}
{% block body %}
   <h1>{{first_line}}</h1>
   <p>{{second_line}}</p>

   <div class="container">
      <table class="table table-striped">
      <thead>
         <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
         </tr>
      </thead>
      <tbody>
         {% for i in people %}
         <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.name}}</td>
            <td>
               {% if i.age <= 18 %}
               Underage
               {% elif i.age <= 50%}
               Adult
               {% else %}
               Budo vayo
               {% endif %}
               {{i.age}}
            </td>
            <td>{{i.address}}</td>
         </tr>
         {% endfor %}
      </tbody>
      </table>
   </div>
{% endblock body %}