{% extends "base.html" %}
{% block title %}Todo List{% endblock title %}
{% block body %}
<h3>Todo List</h3>
<h4>Total tasks: {{total_tasks}}</h4>
<h4>Completed tasks: {{complete_tasks}}</h4>
<h4>Incomplete tasks: {{incomplete_tasks}}</h4>

<div class="container">
   <table class="table table-striped">
      <thead>
         <tr>
            <th scope="col">S.no.</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
         </tr>
      </thead>
      <tbody>
         {% for i in tasks %}
         <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.title}}</td>
            <td>{{i.description}}</td>
            <td>
               {% if i.status %}
               <span class = "text-success">
               Completed
               </span>
               {% else %}
               <span class ="text-danger">
                  Pending
               </span>
               {% endif %}
            </td>
            <td>
               <a href = {{i.id}}/edit/ type="button" class="btn btn-primary">Edit</button>
               <a href = {{i.id}}/mark/ type="button" class="btn btn-success">Mark</button>
            </td>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock body %}